.el-avatar {
  --el-avatar-background-color: none;
}

// guide 引导防止遮盖元素
#driver-highlighted-element-stage {
  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}

#driver-page-overlay {
  background: none !important;
}